<%- include("header"); -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed corrupti, iusto, reprehenderit nisi rem soluta quidem voluptates in neque nobis tempore eos veritatis reiciendis iure odio quas, eum facilis nesciunt.</p>

<%- include("footer"); -%>